header {
    background-color: $header-bg;
    color: $header-title;

    nav {
        padding: 27px 0;
        margin: 0;

        .nav-parent {
            @include flex-between;

            .nav-list {
                @include flex-center;
                gap: 30px;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    font-size: 16px;
                    font-weight: 500;
                    color: $header-text;
                    cursor: pointer;
                    transition: color 0.3s ease;

                    &:hover {
                        color: $header-title;
                        box-shadow: 2px -40px 10px -6px $nav-btn-clr;
                    }
                }

                .nav-btn-ss {
                    color: $nav-btn-clr;

                    &::after {
                        content: '→';
                        font-size: 16px;
                        margin-left: 10px;
                        transition: transform 0.3s;
                    }

                    &:hover::after {
                        transform: translateX(4px);
                    }

                }
            }
        }
    }
    .hero-pg{
        margin-top: 96px;
        padding: 0 160px;
        margin-bottom: 32px;
    }
    .hero-pg-parent {
        @include flex-between;
        gap: 93px;

        .hero-left {
            width: 624px;
            
            .litl-box{
                width: 24px;
                height: 24px;
                background-color: $header-title;
                opacity: 0.3;
                margin-bottom: 24px;
            }
            h1 {
                font-size: 56px;
                width: 610px;
            }
            p{
                font-size: 16px;
                margin-top: 24px;
                margin-bottom: 32px;
            }
        }
    }

}