$header-bg: #232536;
$header-title: #FFFFFF;
$nav-btn-clr: #FFD3AF;
$base-btn-bg: #444CFC;
$base-titl-clr: #232536;
$about-text-clr: #5D5F6D;
$services-bg: #FFE6D2;
$blog-sec-bg: #ECF8F9;
$footer-bg: #FFE6D2;
$after-bg: #666DFF;
$after2-bg:#FFD3AF;
$min-title-clr: #000000;